# **Recommendation Systems**

The main idea of this file, is to create "ground truth" by using KMeans Clustering, train on training set and get recommendations and then test that the recommendations are in the same cluster as the specified property id. We are not going to analyze much the file as we are not sure if the results are reliable. We couldnt figure out a good way to implement the code since we didnt have label column for evaluating our recommendations.

In [1]:
! pip install pyspark seaborn

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.13.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /usr/local/lib/python3.10/dist-packages (from seaborn) (1.25.2)
Requirement already satisfied: pandas>=1.2 in /usr/local/lib/python3.10/dist-packages (from seaborn) (2.0.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /usr/local/lib/python3.10/dist-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2->seaborn) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [2]:
# libraries

import sklearn
import pandas as pd
from pyspark.sql.functions import *
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql.window import Window
from pyspark.ml.clustering import KMeans
from scipy.spatial.distance import cosine

In [3]:
from google.colab import drive
drive.mount('/content/gdrive')
google_drive_path = "/content/gdrive/MyDrive/Colab Notebooks/Project/"

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [4]:
spark = SparkSession.builder.appName("Project511_RS").master("local[*]") \
          .config("spark.driver.memory", "10g") \
          .config("spark.executor.memory", "10g") \
          .config("spark.driver.maxResultSize", "2g") \
          .config("spark.sql.shuffle.partitions", "200") \
          .config("spark.default.parallelism", "100") \
          .getOrCreate()

# Read Dataset

In [5]:
sale_df = spark.read.format("parquet").load(google_drive_path + "sale_ml.parquet")

In [6]:
sale_df.printSchema()

root
 |-- price_bucket: double (nullable = true)
 |-- start_year: integer (nullable = true)
 |-- end_year: integer (nullable = true)
 |-- is_active: integer (nullable = true)
 |-- l3_one_hot: vector (nullable = true)
 |-- l2_one_hot: vector (nullable = true)
 |-- property_one_hot: vector (nullable = true)
 |-- encoded_start_month: vector (nullable = true)
 |-- encoded_end_month: vector (nullable = true)
 |-- encoded_start_day_of_week: vector (nullable = true)
 |-- encoded_end_day_of_week: vector (nullable = true)
 |-- geo_cluster: integer (nullable = true)
 |-- rooms_scaled: double (nullable = true)
 |-- bedrooms_scaled: double (nullable = true)
 |-- bathrooms_scaled: double (nullable = true)
 |-- surface_total_scaled: double (nullable = true)
 |-- scaled_final_features: vector (nullable = true)

In [7]:
sale_df.count()

210339

This df does not have the description of the properties in textual representation, but only in numeric representation, which we converted in the Text Analytics file. Both datasets have the same rows and data in the same order, but in order to give the description of the property when we recommending other properties, we are going to merge the two datasets.

In [8]:
df = spark.read.format("parquet").load(google_drive_path + "ar_properties_processed.parquet")

In [9]:
df.count()

259910

This is the dataset with the descriptions and all the info not encoded.

In [10]:
df.show()

+----------+----------+--------------------+--------------------+-----+--------+---------+-------------+---------------+--------------------+--------------------+----------------+--------------+--------------------+------------------+
|start_date|  end_date|                  l2|                  l3|rooms|bedrooms|bathrooms|surface_total|surface_covered|               title|         description|   property_type|operation_type|         coordinates|    amount_in_euro|
+----------+----------+--------------------+--------------------+-----+--------+---------+-------------+---------------+--------------------+--------------------+----------------+--------------+--------------------+------------------+
|2019-12-29|2020-02-11|Bs.As. G.B.A. Zon...|               Pilar|    4|       3|        2|        140.0|          140.0|Susana Aravena Pr...|Excelente propied...|           House|          Rent|[-34.879692077636...|             533.8|
|2019-12-29|2020-04-04|Bs.As. G.B.A. Zon...|             Escobar|    3|       3|        2|       438.17|         347.07|Casa en Alquiler ...|Casa muy cómoda c...|           House|          Rent|[-34.361125946044...|1726.9999999999998|
|2019-12-29|2020-07-22|             Córdoba|             Córdoba|    5|       3|        4|        135.0|          135.0|       Casa - Centro|Se VENDE y/o se A...|           House|          Rent|[-31.409379959106...|1020.4999999999999|
|2019-12-29|2020-02-21|Bs.As. G.B.A. Zon...|     Lomas de Zamora|    3|       1|        1|       438.17|         347.07|Casa - Banfield O...|Se trata inmueble...|           House|          Rent|[-34.745143890380...|             329.7|
|2019-12-29|2020-08-26|Bs.As. G.B.A. Zon...|     Lomas de Zamora|    2|       2|        1|       438.17|         347.07|Casa - Temperley ...|Casa en Av Almira...|           House|          Rent|[-34.780479431152...|439.59999999999997|
|2019-12-29|2020-06-14|Bs.As. G.B.A. Zon...|              Moreno|    2|       2|        1|        300.0|          260.0|Azucena Villaflor...|Excelente oportun...|             Lot|          Sale|[-34.879692077636...| 7064.999999999999|
|2019-12-29|2020-03-09|     Capital Federal|            Belgrano|    2|       2|        1|        511.0|          511.0|11 DE SEPTIEMBRE DE |Oficina con acces...|          Office|          Rent|[-34.561073303222...|            4867.0|
|2019-12-29|2020-04-01|Bs.As. G.B.A. Zon...|          San Miguel|    3|       3|        2|         55.0|           52.6|Domingo F Sarmien...|Oficina de 55 m2 ...|          Office|          Rent|[-34.546260833740...|188.39999999999998|
|2019-12-29|2020-02-14|Bs.As. G.B.A. Zon...|               Tigre|    3|       3|        2|       438.17|         347.07|ALQUILER DEPARTAM...|Departamento en a...|       Apartment|          Rent|[-34.400051116943...|470.99999999999994|
|2019-12-29|2020-01-11|     Capital Federal|             Almagro|    2|       1|        1|         45.0|           40.0|2 amb muy comodo ...|Corredor Responsa...|       Apartment|          Rent|[-34.608074188232...|             345.4|
|2019-12-29|2020-07-31|     Capital Federal|             Palermo|    2|       1|        1|         45.0|           43.6|Departamento - Pa...|Hermoso departame...|       Apartment|          Rent|[-34.574123382568...|             628.0|
|2019-12-29|2020-02-04|            Santa Fe|             Rosario|    2|       2|        1|       438.17|         347.07|         Colon  1200|Amplio departamen...|       Apartment|          Rent|[-32.953746795654...| 97.33999999999999|
|2019-12-29|2020-01-24|     Capital Federal|            Recoleta|    3|       2|        1|         64.0|           56.0|ALQUILER 3 AMB, A...|EXCELENTE UBICACI...|       Apartment|          Rent|[-34.588634490966...|             628.0|
|2019-12-29|2020-02-15|     Capital Federal|         San Nicolás|    2|       2|        1|       438.17|         347.07|Se alquila Dto du...|Un ambiente (mono...|       Apartment|          Rent|[-34.604598999023...|           171.915|
|2019-12-29|2020-03-03|Buenos Aires Cost...|       Mar del Plata|    2|       2|        1|       438.17|         347.07|Departamento 2 Am...|Departamento inte...|       Apartment|          Rent|[-38.013683319091...|             37.68|
|2019-12-29|2020-02-17|Buenos Aires Cost...|       Mar del Plata|    3|       3|        2|       438.17|         347.07|DEPARTAMENTO 3 AM...|FEIGELMULLER ESTU...|       Apartment|          Rent|[-38.003520965576...|376.79999999999995|
|2019-12-29|2020-01-26|Bs.As. G.B.A. Zon...|       Vicente López|    2|       1|        1|         48.0|           40.0|departamento 2 am...|Departamento 2 am...|       Apartment|          Rent|[-34.532951354980...|235.49999999999997|
|2019-12-29|2020-01-31|Bs.As. G.B.A. Zon...|     Lomas de Zamora|    1|       0|        1|         50.0|           48.8|Colombres   200 3...|Living comedor, c...|       Apartment|          Rent|[-34.764102935791...|219.79999999999998|
|2019-12-29|2020-07-16|             Tucumán|San Miguel de Tuc...|    4|       2|        1|        100.0|           92.8|Departamento - Sa...|Departamento en v...|       Apartment|          Rent|[-26.820627212524...|282.59999999999997|
|2019-12-29|2020-10-23|     Capital Federal|             Almagro|    2|       2|        1|         63.2|           54.0|     Local - Almagro|Amplio local come...|Commercial Space|          Rent|[-34.611446380615...|219.79999999999998|
+----------+----------+--------------------+--------------------+-----+--------+---------+-------------+---------------+--------------------+--------------------+----------------+--------------+--------------------+------------------+
only showing top 20 rows

We are going to do some preprocessing in order to have the consistent version of it

In [11]:
df = df.filter(col("operation_type") == "Sale")

In [12]:
df.count()

210341

In [13]:
df = df.filter((col("amount_in_euro") <= 9000000000) & (col("amount_in_euro") > 11))

In [14]:
df.count()

210339

We are going to add the property id, in order to merge it then with the sale_df

In [15]:
# add column called 'id' that contains row numbers from 1 to n
w = Window().orderBy(lit('A'))
df = df.withColumn('id', row_number().over(w))

In [16]:
df.show()

+----------+----------+--------------------+--------------------+-----+--------+---------+-------------+---------------+--------------------+--------------------+-------------+--------------+--------------------+------------------+---+
|start_date|  end_date|                  l2|                  l3|rooms|bedrooms|bathrooms|surface_total|surface_covered|               title|         description|property_type|operation_type|         coordinates|    amount_in_euro| id|
+----------+----------+--------------------+--------------------+-----+--------+---------+-------------+---------------+--------------------+--------------------+-------------+--------------+--------------------+------------------+---+
|2019-12-29|2020-06-14|Bs.As. G.B.A. Zon...|              Moreno|    2|       2|        1|        300.0|          260.0|Azucena Villaflor...|Excelente oportun...|          Lot|          Sale|[-34.879692077636...| 7064.999999999999|  1|
|2019-12-29|2019-12-29|             Mendoza|           Las Heras|    2|       2|        1|       438.17|         347.07|Venta de lote opo...|Excelente oportun...|        Other|          Sale|[-32.825477600097...| 46314.99999999999|  2|
|2019-12-29|2020-01-04|            San Juan|            San Juan|    8|       4|        3|        359.0|          298.0|Excelente oportun...|Corredor Responsa...|        House|          Sale|[-31.527658462524...| 62799.99999999999|  3|
|2019-12-29|2020-01-08|             Neuquén|               Añelo|    2|       2|        1|        300.0|          260.0|VENTA Terreno San...|Corredor Responsa...|          Lot|          Sale|[-38.627246856689...| 6750.999999999999|  4|
|2019-12-29|2020-01-13|             Córdoba|         Santa María|    2|       2|        1|        560.0|          366.8|Se Vende Lote en ...|Corredor Responsa...|          Lot|          Sale|[-31.621995925903...| 5494.999999999999|  5|
|2019-12-29|2020-01-21|            Santa Fe|           Esperanza|    2|       1|        1|        670.0|          206.0|Amplia casa en Es...|Corredor Responsa...|        House|          Sale|[-31.413465499877...|           34540.0|  6|
|2019-12-29|2020-04-27|            Misiones|             Posadas|    2|       2|        1|       438.17|         347.07|Vendo o permutó, ...|Vendo terreno gra...|        Other|          Sale|[-27.358028411865...| 7849.999999999999|  7|
|2019-12-31|2020-04-28|             Neuquén|Rincón de los Sauces|    2|       2|        1|       438.17|         347.07|Vendo vivienda de...|- Inmobiliaria De...|        House|          Sale|[-37.397430419921...|23549.999999999996|  8|
|2019-12-31|2020-01-18|Bs.As. G.B.A. Zon...|               Pilar|    2|       2|        1|        275.0|          260.0|Lote de 275 m2. E...|Corredor Responsa...|          Lot|          Sale|[-34.387504577636...| 7064.999999999999|  9|
|2019-12-31|9999-12-31|             Córdoba|             Punilla|    2|       2|        1|       438.17|         347.07|  Terreno - La Falda|Soys Inmobiliaria...|          Lot|          Sale|[-31.080308914184...|5381.8814999999995| 10|
|2019-12-31|2020-02-13|             Neuquén|            Plottier|    2|       2|        1|        600.0|          221.0| VENTA LOTE PLOTTIER|GRUPO WENGAN MP° ...|          Lot|          Sale|[-38.962383270263...| 7849.999999999999| 11|
|2019-12-31|2020-06-27|               Jujuy|         San Antonio|    2|       2|        1|        649.0|          266.0|VENTA TERRENO BOS...|Contacto: Maximil...|          Lot|          Sale|[-24.299505233764...|            8792.0| 12|
|2019-12-31|2020-01-08|             Mendoza|            San José|    2|       2|        1|       438.17|         347.07|     Capital Mendoza|RIVAROLA AGOSTINI...|        Other|          Sale|[-32.873050689697...|23549.999999999996| 13|
|2019-12-31|2020-04-27|             Córdoba|          Río Cuarto|    2|       2|        1|       438.17|         347.07|Departamento - Ri...|Departamento 50m²...|    Apartment|          Sale|[-33.127326965332...| 51024.99999999999| 14|
|2019-12-31|2020-01-21|               Salta|               Salta|    3|       2|        1|        120.0|           90.0|Casa en venta - Z...|Corredor Responsa...|        House|          Sale|[-24.804218292236...|14914.999999999998| 15|
|2019-12-25|2020-02-27|Bs.As. G.B.A. Zon...|          Marcos Paz|    2|       2|        1|       438.17|         347.07|8 Lotes en Genera...|8 Lotes de 200 m2...|        Other|          Sale|[-34.736999511718...| 5494.999999999999| 16|
|2019-12-25|2020-04-18|            Santa Fe|Villa Gobernador ...|    2|       2|        1|       438.17|         347.07|VENTA - TERRENOS ...|Eco Pueblo - ALVE...|        Other|          Sale|[-33.058921813964...|25904.999999999996| 17|
|2019-12-25|2020-04-18|            Santa Fe|Villa Gobernador ...|    2|       2|        1|       438.17|         347.07|ECOPUEBLO. Terren...|Eco Pueblo - ALVE...|        Other|          Sale|[-33.058921813964...|           18369.0| 18|
|2019-12-25|2020-04-18|            Santa Fe|             Rosario|    2|       2|        1|       438.17|         347.07|VENTA - DEPARTAME...|*GUEMES 2678 - BA...|    Apartment|          Sale|[-32.931991577148...|          78895.64| 19|
|2019-12-25|2020-04-27|            Santa Fe|             Álvarez|    2|       2|        1|       438.17|         347.07|VENDO - TERRENO E...|COMPRA TU TERRENO...|        Other|          Sale|[-34.879692077636...|13344.999999999998| 20|
+----------+----------+--------------------+--------------------+-----+--------+---------+-------------+---------------+--------------------+--------------------+-------------+--------------+--------------------+------------------+---+
only showing top 20 rows

# Properties' Indexing

In [17]:
sale_df = sale_df.withColumn('id', row_number().over(w))

In [18]:
sale_df.show()

+------------+----------+--------+---------+-------------+--------------+----------------+-------------------+-----------------+-------------------------+-----------------------+-----------+-------------------+--------------------+-------------------+--------------------+---------------------+---+
|price_bucket|start_year|end_year|is_active|   l3_one_hot|    l2_one_hot|property_one_hot|encoded_start_month|encoded_end_month|encoded_start_day_of_week|encoded_end_day_of_week|geo_cluster|       rooms_scaled|     bedrooms_scaled|   bathrooms_scaled|surface_total_scaled|scaled_final_features| id|
+------------+----------+--------+---------+-------------+--------------+----------------+-------------------+-----------------+-------------------------+-----------------------+-----------+-------------------+--------------------+-------------------+--------------------+---------------------+---+
|         4.0|      2020|    2020|        0|(4,[0],[1.0])|(27,[2],[1.0])|   (9,[0],[1.0])|     (11,[7],[1.0])|   (11,[7],[1.0])|            (6,[0],[1.0])|          (6,[4],[1.0])|          7|0.10256410256410256| 0.05714285714285714|0.10526315789473684|3.293617918167629...| (17000,[0,1,2,3,6...|  1|
|         0.0|      2020|    2021|        1|(4,[1],[1.0])|(27,[0],[1.0])|   (9,[0],[1.0])|     (11,[7],[1.0])|   (11,[0],[1.0])|            (6,[1],[1.0])|          (6,[0],[1.0])|          1|0.02564102564102564|0.014285714285714285|                0.0|3.293617918167629...| (17000,[0,1,3,4,5...|  2|
|         2.0|      2020|    2021|        1|(4,[0],[1.0])|(27,[1],[1.0])|   (9,[0],[1.0])|     (11,[8],[1.0])|   (11,[0],[1.0])|            (6,[3],[1.0])|          (6,[0],[1.0])|          7|0.02564102564102564|0.014285714285714285|                0.0|3.293617918167629...| (17000,[0,1,3,4,5...|  3|
|         1.0|      2020|    2021|        1|(4,[2],[1.0])|(27,[4],[1.0])|   (9,[0],[1.0])|     (11,[5],[1.0])|   (11,[0],[1.0])|            (6,[0],[1.0])|          (6,[0],[1.0])|          0|0.05128205128205128|0.014285714285714285|                0.0|3.293617918167629...| (17000,[0,2,3,6,7...|  4|
|         2.0|      2020|    2021|        1|(4,[0],[1.0])|(27,[5],[1.0])|   (9,[2],[1.0])|     (11,[9],[1.0])|   (11,[0],[1.0])|            (6,[4],[1.0])|          (6,[0],[1.0])|          7|0.05128205128205128| 0.02857142857142857|                0.0|6.707697467459591E-6| (17000,[0,1,2,3,4...|  5|
|         4.0|      2020|    2021|        1|(4,[0],[1.0])|(27,[3],[1.0])|   (9,[2],[1.0])|     (11,[9],[1.0])|   (11,[0],[1.0])|            (6,[4],[1.0])|          (6,[0],[1.0])|          7|0.07692307692307693| 0.02857142857142857|0.05263157894736842|3.293617918167629...| (17000,[0,1,2,3,7...|  6|
|         2.0|      2020|    2021|        1|(4,[0],[1.0])|(27,[4],[1.0])|   (9,[2],[1.0])|     (11,[8],[1.0])|   (11,[0],[1.0])|            (6,[0],[1.0])|          (6,[0],[1.0])|          0|0.05128205128205128| 0.02857142857142857|                0.0|9.215391704147466E-6| (17000,[0,3,4,9,1...|  7|
|         2.0|      2020|    2021|        0|(4,[0],[1.0])|(27,[1],[1.0])|   (9,[0],[1.0])|     (11,[4],[1.0])|   (11,[2],[1.0])|            (6,[2],[1.0])|          (6,[3],[1.0])|          7|0.02564102564102564|0.014285714285714285|                0.0|2.538463491125762...| (17000,[1,2,3,4,5...|  8|
|         0.0|      2020|    2021|        1|(4,[0],[1.0])|(27,[0],[1.0])|   (9,[2],[1.0])|     (11,[7],[1.0])|   (11,[0],[1.0])|            (6,[2],[1.0])|          (6,[0],[1.0])|          1|0.05128205128205128|0.014285714285714285|                0.0|2.692309763315202...| (17000,[0,1,2,3,4...|  9|
|         2.0|      2020|    2021|        1|(4,[0],[1.0])|(27,[5],[1.0])|   (9,[2],[1.0])|     (11,[5],[1.0])|   (11,[0],[1.0])|            (6,[1],[1.0])|          (6,[0],[1.0])|          7|0.05128205128205128| 0.02857142857142857|0.05263157894736842|3.293617918167629...| (17000,[0,1,2,3,4...| 10|
|         1.0|      2020|    2021|        1|(4,[0],[1.0])|(27,[3],[1.0])|   (9,[3],[1.0])|     (11,[8],[1.0])|   (11,[0],[1.0])|            (6,[4],[1.0])|          (6,[0],[1.0])|          7|0.02564102564102564| 0.02857142857142857|                0.0|4.538465029588485E-5| (17000,[2,15,32,6...| 11|
|         4.0|      2020|    2020|        0|(4,[3],[1.0])|(27,[2],[1.0])|   (9,[2],[1.0])|     (11,[8],[1.0])|   (11,[9],[1.0])|            (6,[5],[1.0])|          (6,[0],[1.0])|          7|0.05128205128205128| 0.02857142857142857|                0.0|3.293617918167629...| (17000,[0,2,4,9,2...| 12|
|         4.0|      2020|    2021|        1|(4,[0],[1.0])|(27,[1],[1.0])|   (9,[4],[1.0])|     (11,[8],[1.0])|   (11,[0],[1.0])|            (6,[3],[1.0])|          (6,[0],[1.0])|          7|0.07692307692307693| 0.02857142857142857|0.05263157894736842|1.230770177515521...| (17000,[0,1,3,4,5...| 13|
|         1.0|      2020|    2020|        0|(4,[0],[1.0])|(27,[2],[1.0])|   (9,[0],[1.0])|     (11,[5],[1.0])|   (11,[7],[1.0])|            (6,[0],[1.0])|          (6,[4],[1.0])|          7|                0.0|0.014285714285714285|                0.0|3.293617918167629...| (17000,[1,2,3,6,1...| 14|
|         3.0|      2020|    2020|        0|(4,[0],[1.0])|(27,[2],[1.0])|   (9,[2],[1.0])|     (11,[6],[1.0])|   (11,[8],[1.0])|            (6,[5],[1.0])|          (6,[5],[1.0])|          7|0.05128205128205128| 0.02857142857142857|0.05263157894736842|3.293617918167629...| (17000,[0,1,2,3,8...| 15|
|         3.0|      2020|    2021|        1|(4,[0],[1.0])|(27,[0],[1.0])|   (9,[2],[1.0])|     (11,[4],[1.0])|   (11,[0],[1.0])|                (6,[],[])|          (6,[0],[1.0])|          1| 0.1282051282051282| 0.04285714285714286|0.05263157894736842|3.293617918167629...| (17000,[3,5,9,10,...| 16|
|         0.0|      2020|    2020|        0|(4,[2],[1.0])|(27,[4],[1.0])|   (9,[7],[1.0])|     (11,[2],[1.0])|   (11,[3],[1.0])|            (6,[0],[1.0])|          (6,[4],[1.0])|          0|0.02564102564102564| 0.02857142857142857|                0.0|3.293617918167629...| (17000,[2,16,17,3...| 17|
|         2.0|      2020|    2020|        0|(4,[0],[1.0])|(27,[1],[1.0])|   (9,[3],[1.0])|     (11,[6],[1.0])|   (11,[8],[1.0])|            (6,[0],[1.0])|          (6,[0],[1.0])|          7|                0.0|                 0.0|                0.0|3.293617918167629...| (17000,[2,4,15,16...| 18|
|         1.0|      2020|    2020|        0|(4,[0],[1.0])|(27,[2],[1.0])|   (9,[3],[1.0])|     (11,[6],[1.0])|   (11,[8],[1.0])|            (6,[4],[1.0])|          (6,[1],[1.0])|          7|                0.0|                 0.0|                0.0|3.293617918167629...| (17000,[2,15,32,3...| 19|
|         3.0|      2020|    2021|        0|(4,[2],[1.0])|(27,[4],[1.0])|   (9,[0],[1.0])|     (11,[8],[1.0])|   (11,[6],[1.0])|            (6,[1],[1.0])|          (6,[2],[1.0])|          0|0.02564102564102564|0.014285714285714285|                0.0|4.769234437872645E-6| (17000,[0,1,2,3,4...| 20|
+------------+----------+--------+---------+-------------+--------------+----------------+-------------------+-----------------+-------------------------+-----------------------+-----------+-------------------+--------------------+-------------------+--------------------+---------------------+---+
only showing top 20 rows

In [19]:
sale_df = sale_df.select("id", "scaled_final_features", "start_year", "end_year", "is_active", "l3_one_hot", "l2_one_hot", "property_one_hot", \
               "encoded_start_month", "encoded_end_month", "encoded_start_day_of_week",  "encoded_end_day_of_week", "geo_cluster", "rooms_scaled",
               "bedrooms_scaled", "bathrooms_scaled", "surface_total_scaled", "price_bucket")

In [20]:
sale_df.show()

+---+---------------------+----------+--------+---------+-------------+--------------+----------------+-------------------+-----------------+-------------------------+-----------------------+-----------+-------------------+--------------------+-------------------+--------------------+------------+
| id|scaled_final_features|start_year|end_year|is_active|   l3_one_hot|    l2_one_hot|property_one_hot|encoded_start_month|encoded_end_month|encoded_start_day_of_week|encoded_end_day_of_week|geo_cluster|       rooms_scaled|     bedrooms_scaled|   bathrooms_scaled|surface_total_scaled|price_bucket|
+---+---------------------+----------+--------+---------+-------------+--------------+----------------+-------------------+-----------------+-------------------------+-----------------------+-----------+-------------------+--------------------+-------------------+--------------------+------------+
|  1| (17000,[0,1,2,3,6...|      2020|    2020|        0|(4,[0],[1.0])|(27,[2],[1.0])|   (9,[0],[1.0])|     (11,[7],[1.0])|   (11,[7],[1.0])|            (6,[0],[1.0])|          (6,[4],[1.0])|          7|0.10256410256410256| 0.05714285714285714|0.10526315789473684|3.293617918167629...|         4.0|
|  2| (17000,[0,1,3,4,5...|      2020|    2021|        1|(4,[1],[1.0])|(27,[0],[1.0])|   (9,[0],[1.0])|     (11,[7],[1.0])|   (11,[0],[1.0])|            (6,[1],[1.0])|          (6,[0],[1.0])|          1|0.02564102564102564|0.014285714285714285|                0.0|3.293617918167629...|         0.0|
|  3| (17000,[0,1,3,4,5...|      2020|    2021|        1|(4,[0],[1.0])|(27,[1],[1.0])|   (9,[0],[1.0])|     (11,[8],[1.0])|   (11,[0],[1.0])|            (6,[3],[1.0])|          (6,[0],[1.0])|          7|0.02564102564102564|0.014285714285714285|                0.0|3.293617918167629...|         2.0|
|  4| (17000,[0,2,3,6,7...|      2020|    2021|        1|(4,[2],[1.0])|(27,[4],[1.0])|   (9,[0],[1.0])|     (11,[5],[1.0])|   (11,[0],[1.0])|            (6,[0],[1.0])|          (6,[0],[1.0])|          0|0.05128205128205128|0.014285714285714285|                0.0|3.293617918167629...|         1.0|
|  5| (17000,[0,1,2,3,4...|      2020|    2021|        1|(4,[0],[1.0])|(27,[5],[1.0])|   (9,[2],[1.0])|     (11,[9],[1.0])|   (11,[0],[1.0])|            (6,[4],[1.0])|          (6,[0],[1.0])|          7|0.05128205128205128| 0.02857142857142857|                0.0|6.707697467459591E-6|         2.0|
|  6| (17000,[0,1,2,3,7...|      2020|    2021|        1|(4,[0],[1.0])|(27,[3],[1.0])|   (9,[2],[1.0])|     (11,[9],[1.0])|   (11,[0],[1.0])|            (6,[4],[1.0])|          (6,[0],[1.0])|          7|0.07692307692307693| 0.02857142857142857|0.05263157894736842|3.293617918167629...|         4.0|
|  7| (17000,[0,3,4,9,1...|      2020|    2021|        1|(4,[0],[1.0])|(27,[4],[1.0])|   (9,[2],[1.0])|     (11,[8],[1.0])|   (11,[0],[1.0])|            (6,[0],[1.0])|          (6,[0],[1.0])|          0|0.05128205128205128| 0.02857142857142857|                0.0|9.215391704147466E-6|         2.0|
|  8| (17000,[1,2,3,4,5...|      2020|    2021|        0|(4,[0],[1.0])|(27,[1],[1.0])|   (9,[0],[1.0])|     (11,[4],[1.0])|   (11,[2],[1.0])|            (6,[2],[1.0])|          (6,[3],[1.0])|          7|0.02564102564102564|0.014285714285714285|                0.0|2.538463491125762...|         2.0|
|  9| (17000,[0,1,2,3,4...|      2020|    2021|        1|(4,[0],[1.0])|(27,[0],[1.0])|   (9,[2],[1.0])|     (11,[7],[1.0])|   (11,[0],[1.0])|            (6,[2],[1.0])|          (6,[0],[1.0])|          1|0.05128205128205128|0.014285714285714285|                0.0|2.692309763315202...|         0.0|
| 10| (17000,[0,1,2,3,4...|      2020|    2021|        1|(4,[0],[1.0])|(27,[5],[1.0])|   (9,[2],[1.0])|     (11,[5],[1.0])|   (11,[0],[1.0])|            (6,[1],[1.0])|          (6,[0],[1.0])|          7|0.05128205128205128| 0.02857142857142857|0.05263157894736842|3.293617918167629...|         2.0|
| 11| (17000,[2,15,32,6...|      2020|    2021|        1|(4,[0],[1.0])|(27,[3],[1.0])|   (9,[3],[1.0])|     (11,[8],[1.0])|   (11,[0],[1.0])|            (6,[4],[1.0])|          (6,[0],[1.0])|          7|0.02564102564102564| 0.02857142857142857|                0.0|4.538465029588485E-5|         1.0|
| 12| (17000,[0,2,4,9,2...|      2020|    2020|        0|(4,[3],[1.0])|(27,[2],[1.0])|   (9,[2],[1.0])|     (11,[8],[1.0])|   (11,[9],[1.0])|            (6,[5],[1.0])|          (6,[0],[1.0])|          7|0.05128205128205128| 0.02857142857142857|                0.0|3.293617918167629...|         4.0|
| 13| (17000,[0,1,3,4,5...|      2020|    2021|        1|(4,[0],[1.0])|(27,[1],[1.0])|   (9,[4],[1.0])|     (11,[8],[1.0])|   (11,[0],[1.0])|            (6,[3],[1.0])|          (6,[0],[1.0])|          7|0.07692307692307693| 0.02857142857142857|0.05263157894736842|1.230770177515521...|         4.0|
| 14| (17000,[1,2,3,6,1...|      2020|    2020|        0|(4,[0],[1.0])|(27,[2],[1.0])|   (9,[0],[1.0])|     (11,[5],[1.0])|   (11,[7],[1.0])|            (6,[0],[1.0])|          (6,[4],[1.0])|          7|                0.0|0.014285714285714285|                0.0|3.293617918167629...|         1.0|
| 15| (17000,[0,1,2,3,8...|      2020|    2020|        0|(4,[0],[1.0])|(27,[2],[1.0])|   (9,[2],[1.0])|     (11,[6],[1.0])|   (11,[8],[1.0])|            (6,[5],[1.0])|          (6,[5],[1.0])|          7|0.05128205128205128| 0.02857142857142857|0.05263157894736842|3.293617918167629...|         3.0|
| 16| (17000,[3,5,9,10,...|      2020|    2021|        1|(4,[0],[1.0])|(27,[0],[1.0])|   (9,[2],[1.0])|     (11,[4],[1.0])|   (11,[0],[1.0])|                (6,[],[])|          (6,[0],[1.0])|          1| 0.1282051282051282| 0.04285714285714286|0.05263157894736842|3.293617918167629...|         3.0|
| 17| (17000,[2,16,17,3...|      2020|    2020|        0|(4,[2],[1.0])|(27,[4],[1.0])|   (9,[7],[1.0])|     (11,[2],[1.0])|   (11,[3],[1.0])|            (6,[0],[1.0])|          (6,[4],[1.0])|          0|0.02564102564102564| 0.02857142857142857|                0.0|3.293617918167629...|         0.0|
| 18| (17000,[2,4,15,16...|      2020|    2020|        0|(4,[0],[1.0])|(27,[1],[1.0])|   (9,[3],[1.0])|     (11,[6],[1.0])|   (11,[8],[1.0])|            (6,[0],[1.0])|          (6,[0],[1.0])|          7|                0.0|                 0.0|                0.0|3.293617918167629...|         2.0|
| 19| (17000,[2,15,32,3...|      2020|    2020|        0|(4,[0],[1.0])|(27,[2],[1.0])|   (9,[3],[1.0])|     (11,[6],[1.0])|   (11,[8],[1.0])|            (6,[4],[1.0])|          (6,[1],[1.0])|          7|                0.0|                 0.0|                0.0|3.293617918167629...|         1.0|
| 20| (17000,[0,1,2,3,4...|      2020|    2021|        0|(4,[2],[1.0])|(27,[4],[1.0])|   (9,[0],[1.0])|     (11,[8],[1.0])|   (11,[6],[1.0])|            (6,[1],[1.0])|          (6,[2],[1.0])|          0|0.02564102564102564|0.014285714285714285|                0.0|4.769234437872645E-6|         3.0|
+---+---------------------+----------+--------+---------+-------------+--------------+----------------+-------------------+-----------------+-------------------------+-----------------------+-----------+-------------------+--------------------+-------------------+--------------------+------------+
only showing top 20 rows

In [21]:
sale_df.count()

210339

# Feature Vector Construction

We need to combine all our features into a single feature vector for each property. This will be used for the similarity calculations in the recommendation model.

In [22]:
from pyspark.ml.feature import VectorAssembler

# define all the features to be included in the vector
feature_columns = [
    'scaled_final_features', 'price_bucket', 'l3_one_hot', 'l2_one_hot', 'property_one_hot',
    'encoded_start_month', 'encoded_end_month', 'encoded_start_day_of_week', 'encoded_end_day_of_week',
    'rooms_scaled', 'bedrooms_scaled', 'bathrooms_scaled', 'surface_total_scaled'
]

assembler = VectorAssembler(inputCols=feature_columns, outputCol="features")
sale_df = assembler.transform(sale_df)

In [23]:
sale_df = sale_df.sample(fraction=0.01, seed=1234)

In [24]:
sale_df.select("id").show()

+----+
|  id|
+----+
| 239|
| 283|
| 313|
| 336|
| 376|
| 395|
| 442|
| 449|
| 501|
| 521|
| 638|
| 744|
| 781|
| 829|
| 931|
| 939|
|1017|
|1233|
|1361|
|1524|
+----+
only showing top 20 rows

Take an example

In [25]:
property_id = sale_df.first()["id"]

In [26]:
property_id

239

We have to ensure that our feature vectors are normalized. This simplifies the cosine similarity to just a dot product since cosine similarity between two normalized vectors A and B is just their dot product.

In [27]:
from pyspark.ml.feature import Normalizer

# normalize feature vectors
normalizer = Normalizer(inputCol="features", outputCol="normFeatures")
sale_df = normalizer.transform(sale_df)

We cache the DataFrame to optimize read and compute efficiency across multiple actions on this dataframe. Then, we repartition the dataframe based on the 'id' column to balance the data across partitions, which can lead to performance improvements in distributed environments.

In [28]:
sale_df.cache()

DataFrame[id: int, scaled_final_features: vector, start_year: int, end_year: int, is_active: int, l3_one_hot: vector, l2_one_hot: vector, property_one_hot: vector, encoded_start_month: vector, encoded_end_month: vector, encoded_start_day_of_week: vector, encoded_end_day_of_week: vector, geo_cluster: int, rooms_scaled: double, bedrooms_scaled: double, bathrooms_scaled: double, surface_total_scaled: double, price_bucket: double, features: vector, normFeatures: vector]

In [29]:
sale_df = sale_df.repartition(50, "id")

# KMeans Clustering

We apply KMeans clustering to group similar properties based on their normalized feature vectors. We specify the number of clusters and set a seed for reproducibility. This step helps in understanding sensible groups in the property data which can be useful for recommendation systems.

In [30]:
# initialize the KMeans model with 10 clusters
kmeans = KMeans().setK(10).setSeed(1).setFeaturesCol("normFeatures").setPredictionCol("cluster")
model = kmeans.fit(sale_df)

# add cluster column to the df
sale_df = model.transform(sale_df)

In [31]:
sale_df.groupBy("cluster").count().show()

+-------+-----+
|cluster|count|
+-------+-----+
|      1|  485|
|      6|  172|
|      3|  286|
|      9|   26|
|      4|  233|
|      8|  188|
|      7|  117|
|      2|  212|
|      0|  435|
|      5|   16|
+-------+-----+

# Similarity-Based Recommender

Since we are not dealing with user interactions but rather with item similarity, traditional collaborative filtering techniques like ALS (Alternating Least Squares) may not be suitable. Instead, we can focus on content-based filtering using the feature vectors we've constructed.

In [32]:
# UDF for calculating cosine similarity
def cosine_similarity(x, y):
    return float(1 - cosine(np.array(x), np.array(y)))

In [33]:
# udf
cosine_similarity_udf = udf(cosine_similarity, FloatType())

recommendation function based on cosine similarity

The recommendation function identifies properties similar to a given property based on their feature vectors and the cluster they belong to. This method ensures that recommended properties are not only similar in feature space but also belong to the same data-driven group, improving the relevance of the recommendations.

In [43]:
def recommend_properties(property_id, num_recommendations=10):
    try:
        # extract the feature vector and cluster for the specified property
        target_row = sale_df.filter(col("id") == property_id).select("features", "cluster").first()
        if target_row is None:
            return f"No property found with ID {property_id}"

        target_feature_vector = target_row["features"].toArray()
        target_cluster = target_row["cluster"]

        # broadcast the target feature vector and cluster to all nodes
        broadcast_vector = spark.sparkContext.broadcast(target_feature_vector)
        broadcast_cluster = spark.sparkContext.broadcast(target_cluster)

        # calculate the similarity and filter by cluster
        similarities = sale_df.withColumn("similarity", cosine_similarity_udf(col("features"), lit(broadcast_vector.value)))
        # similarities = similarities.filter(col("cluster") == broadcast_cluster.value)

        # get the top properties ordered by their similarity scores, excluding the property itself
        recommendations = similarities.orderBy("similarity", ascending=False).limit(num_recommendations + 1)
        recommendations = recommendations.filter(col("id") != property_id)

        return recommendations.select("id", "similarity", "cluster")

    # handle exception
    except Exception as e:
        return f"An error occurred: {str(e)}"

In [44]:
recommended_properties = recommend_properties(property_id).cache()

In [45]:
recommended_properties.show()

+------+----------+-------+
|    id|similarity|cluster|
+------+----------+-------+
| 13935| 0.7240418|      1|
|104835| 0.7235273|      1|
|143138| 0.6786017|      1|
|149266|0.67008126|      1|
|187800| 0.6656894|      1|
|  5327|0.64989126|      1|
| 36650| 0.6481783|      1|
| 93877|0.64642775|      1|
|  2307| 0.6450274|      1|
|101316| 0.6442616|      1|
+------+----------+-------+

The similarities listed in our output are all relatively high, with the lowest being around 0.644 and the highest above 0.724. This means that the recommended properties are quite similar to the target property based on the feature vectors used.
The range of similarity scores (from 0.644 to 0.724) suggests that the top 10 recommendations are fairly close in terms of feature-based similarity.

# Evaluate Recommendations

The function evaluate_recommendations evaluates the accuracy of the recommendation system by checking how many of the recommended properties belong to the same cluster as the original property.

The evaluation function calculates the percentage of recommended properties that share the same cluster as the original property. This metric - accuracy, helps in understanding the clustering quality and the effectiveness of the recommendation based on feature similarity.

In [37]:
def evaluate_recommendations(property_id, recommendations):

    # recommendations = recommend_properties(property_id)

    # handle errors -> return the error
    if isinstance(recommendations, str):
        return recommendations

    # get the cluster id of the specified property
    original_cluster = sale_df.filter(col("id") == property_id).select("cluster").first()["cluster"]

    # calculate how many recommendations match the specified property's cluster
    matching_cluster_count = recommendations.filter(col("cluster") == original_cluster).count()
    total_recommendations = recommendations.count()

    # calculate accuracy
    accuracy = matching_cluster_count / total_recommendations if total_recommendations > 0 else 0
    return f"Accuracy of recommendations: {accuracy:.2f}"

In [38]:
accuracy_score = evaluate_recommendations(property_id, recommended_properties)
print(accuracy_score)

Accuracy of recommendations: 1.00

All recommended properties belong to the same cluster (cluster = 1). This is a good indication that the clustering is meaningful and that properties within the same cluster are indeed similar to each other.
Given that the accuracy of recommendations is 1.00, it confirms that all recommended properties match the original property's cluster, underscoring reliable clustering. Of course, we have in mind that the clusters/label we have are not actual truthful data but a column that we created.

# Merge Datasets

We merge the two datasets, in order to get a detailed description in a readable representation for each recommended property.

In [39]:
merged_df = recommended_properties.join(df, "id")

In [40]:
merged_df.show()

+------+----------+-------+----------+----------+--------------------+----------------+-----+--------+---------+-------------+---------------+--------------------+--------------------+-------------+--------------+--------------------+--------------+
|    id|similarity|cluster|start_date|  end_date|                  l2|              l3|rooms|bedrooms|bathrooms|surface_total|surface_covered|               title|         description|property_type|operation_type|         coordinates|amount_in_euro|
+------+----------+-------+----------+----------+--------------------+----------------+-----+--------+---------+-------------+---------------+--------------------+--------------------+-------------+--------------+--------------------+--------------+
|  2307| 0.6450274|      1|2021-01-12|9999-12-31|     Capital Federal|Parque Chacabuco|   10|       5|        4|       438.17|         347.07|CASA 3 DORMI + DP...|<b>CASA 3 DORMI +...|        House|          Sale|[-34.879692077636...|      142800.0|
|  5327|0.64989126|      1|2020-06-15|2020-06-25|Bs.As. G.B.A. Zon...|      San Miguel|    3|       2|        2|         74.0|           74.0|Venta Departament...|GLM. Venta Excele...|    Apartment|          Sale|[-34.547607421875...|      147200.0|
| 13935| 0.7240418|      1|2020-01-31|2020-02-17|     Capital Federal|        Saavedra|    3|       2|        1|        103.0|           59.0|VENTA 3 AMBIENTES...|Edificio de vivie...|       Duplex|          Sale|[-34.541919708251...|      177560.0|
| 36650| 0.6481783|      1|2020-03-31|2020-04-01|Buenos Aires Cost...|   Mar del Plata|    2|       2|        1|       438.17|         347.07|Dpto 3 amb en Edi...|Excelente departa...|        Other|          Sale|[-38.018081665039...|      247480.0|
| 93877|0.64642775|      1|2020-04-23|2020-04-23|Buenos Aires Cost...|   Mar del Plata|    2|       2|        1|       438.17|         347.07|OFICINA EN MICROC...|Oficina sobre Ind...|        Other|          Sale|[-37.997219085693...|      105800.0|
|101316| 0.6442616|      1|2020-03-12|2020-03-13|Buenos Aires Cost...|   Mar del Plata|    2|       2|        1|       438.17|         347.07|2 ambientes a 2 c...|Departamento de 2...|        Other|          Sale|[-38.009067535400...|       51520.0|
|104835| 0.7235273|      1|2020-01-08|2020-04-14|            Santa Fe|         Rosario|    2|       2|        1|       438.17|         347.07|VENDO LOTE FINANC...|TIERRA DE SUEÑOS ...|        Other|          Sale|[-34.879692077636...|       13340.0|
|143138| 0.6786017|      1|2020-07-25|2020-07-31|Buenos Aires Cost...|   Mar del Plata|    2|       1|        2|       438.17|         347.07|VENTA DEPARTAMENT...|Impecable departa...|    Apartment|          Sale|[-38.005538940429...|       79989.0|
|149266|0.67008126|      1|2020-08-07|2021-01-10|            Santa Fe|         Rosario|    1|       0|        1|         33.0|           30.0|VENTA DEPARTAMENT...|Corredor Responsa...|    Apartment|          Sale|[-32.957431793212...|       49140.0|
|187800| 0.6656894|      1|2020-08-20|2020-09-16|Buenos Aires Cost...|  Santa Teresita|    2|       1|        1|       438.17|         347.07|Santa Teresita,de...|SANTA TERESITA<br...|    Apartment|          Sale|[-36.536193847656...|       31850.0|
+------+----------+-------+----------+----------+--------------------+----------------+-----+--------+---------+-------------+---------------+--------------------+--------------------+-------------+--------------+--------------------+--------------+